.nav__above {
    width: 100%;
    padding: 0.7rem 1.7rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    background-color: var(--color-primary-variant);
    color: var(--color-primary-light);
}
